<div class="home-container" novalidate>
<form action="/artist-search" method="POST">
        <input id="artist-name-input" type="text" name="artistSearch" required>
        <button class="btn btn-light" type="submit">Search for an artist</button>
    </form>
    </div>